node_modules/*
data_gen_scripts/*
.env
logs/*
!logs/.gitkeep

uploads/*
!uploads/.gitkeep

!uploads/images
uploads/images/*
!uploads/images/.gitkeep

!uploads/images/events
uploads/images/events/*
!uploads/images/events/.gitkeep

!uploads/images/news
uploads/images/news/*
!uploads/images/news/.gitkeep

!uploads/images/testimonials
uploads/images/testimonials/*
!uploads/images/testimonials/.gitkeep

!uploads/images/users
uploads/images/users/*
!uploads/images/users/.gitkeep